# Import productive requirements
-r requirements-prod.txt

# Publish
twine

# Tests
pytest
pytest-cov
pre-commit
tox

# Linters
mypy
pylint
flake8
pydocstyle
radon

# Autoformat
black
isort

# Refactor
rope 
bumpversion

